<template name="landingLayout">

    <div class="site_wrapper">
        <!-- Top Header -->
        {{> header }}
 
        <!-- Navigation Bar -->
        {{> nav }}
       
        <!-- Welcome to Tracy's -->
        {{> welcome }}
        
        <!-- Spacer -->
        <div class="container">
            <hr align="center" style="width:90%;">
        </div>
         
        <!-- Locations -->
        {{> locations }}
 
        <!-- Spacer -->
        <div class="container">
            <hr align="center" style="width:90%;">
        </div>
        
        <!-- Additional Information + Case Knives -->
        {{> additional_info }}

        <!-- Copyright Footer -->
        {{> footer }}       
    </div>

</template>
