<template name="additional_info">
    
    <section class="container bg-info">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 text-left">
            <p><b>24-hr On Call Service</b><br/>We provide our customers with a 24-hr support for all questions and medical needs.</p>
            <p><b>Now recognized as a Master Dealer for CASE Knives!</b><br/>Tracy's Medicine Center is a Master Dealer of CASE knives and now offers a wide variety of styles and accessories. Our customers can now choose from our selection of hand-crafted Case Knives at our Tucker-Norcross Road location, or from our online store.</p>
            <p><b>Additional Services</b><br/>Tracy's Medicine Center also offers a variety of document services, including Money Orders, document copying, fax services, etc.</p>
            <p>
                <ul>
                    <li>Money Orders are 25 cents, and must not exceed $500.</li>
                    <li>All local faxes are free.</li>
                    <li>All copies are 10 cents per page.</li>
                </ul>
            </p>
            <p><b>Pharmaceutical Delivery Service</b><br/>We offer two options for the delivery of our products to your business or home. For quality control, we utilizing preferred shipping methods while striving to meet or exceed our customer expectations.</p>
            <p>
                <ol>
                    <li><p><b>FREE Metro Atlanta Delivery</b><br/>We offer free delivery service to all metro Atlanta customers. Tracy's Medicine Center works hard each and every day to sort all deliveries based on geographic location. Local deliveries leave our stores, via our preferred courier, at approximately 8pm EST each day.</p></li>
                    <li><p><b>Shipping  Outside the Metro Atlanta Area</b><br/>All orders outside the metro Atlanta area are shipped via UPS from either store location.</p></li>
                </ol>
            </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
               <div class="additional_info_picture">
                    <p>Case Knives Picture</p>
                </div>
            </div>
        </div>
    </section>

</template>
