<template name="locations">
    
    <section class="container bg-info">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-left">
                <h1>Tracy's Mecidine Center Locations</h1>
                <p>Tracy's Medicine Center currently has 2 pharmacy locations in the metro atlanta area. We are an independent pharmacy, but consider ourselves more than just a small town drug store! Our pharmacy has grown it's customer base throughout the metro Atlanta area, which has made us a highly recognized member of our community, as well as the state of Georgia. We offer a full range of nutritional suppliments, oxygen products and a wide array of medical supplies, as well as a full compound lab and IV admixture site.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <p><b>Location #1</b></p>
                <p>3650 Chamblee Tucker Road<br/>Atlanta, GA 30341<br/>Phone: 770.934.7703 | Fax: 770.414.1463<br/>Monday-Friday 9AM to 7PM, Saturday 9AM to 5PM</p>
                <button type="button" class="btn btn-default"><span>Get Directions</span></button>
                <div class="location_picture">
                    <p>Location 1 Picture</p>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <p><b>Location #2</b></p>
                <p>3171 Tucker Norcross Road<br/>Atlanta, GA 30084<br/>Phone: 770.934.1642 | Fax: 770.723.9515<br/>Monday-Friday 9AM to 7PM, Saturday 9AM to 4PM</p>
                <button type="button" class="btn btn-default"><span>Get Directions</span></button>
                <div class="location_picture">
                    <p>Location 2 Picture</p>
                </div>
            </div>
        </div>
    </section>

</template>
