<template name="welcome">
    
    <section class="container bg-info">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 text-left">
                <h1>Welcome to Tracy's Medicine Center</h1>
                <p>Tracy's Medicine Center is a family-owned, retail drug store owned and operated by Brett & Shannan Tracy, and serving the Tucker and Chamblee communities since 1990.</p>
                <p>With two locations, Tracy's Medicine Center offers a full service pharmaceutical center with professional, yet family-friendly services.  Whether you walk in to pick up a perscription or utilizing our <b>Dirve-Thru Window</b>, we provide hassle free service with a welcoming smile.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                <p>In-Store Image Placement</p>
            </div>
        </div>
    </section>

</template>
